{% extends 'base.html.twig' %}

{% block title %}Chat{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var chat_messages_url = "{{ path('chat_messages', {id: channel.id}) }}";
    </script>
    <script type="text/javascript" src="{{ asset('js/chat.js') }}"></script>
{% endblock %}

{% block body %}
    <h4>Message du canal {{ channel.name }}</h4>
    {{ include('message/_form.html.twig') }}

    <div class="chat">
    {{ include('message/_messages.html.twig') }}
    </div>
{% endblock %}
